<div class="container-fluid p-5 text-center">
	<div>
		<h2>Characters</h2>
		<LinkTo @route="character-creation">New Character</LinkTo>
	</div>
</div>

<div></div> 

<div class="container">
	<div class="row">
		<div class="col-sm-6 mb-2 align-items-stretch">
			<CharacterCard />
		</div>
		<div class="col-sm-6 mb-2 align-items-stretch">
			<CharacterCard />
		</div>
	</div>
</div>