<div class="container-fluid p-5 text-center">
	<div>
		<h2>Characters</h2>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-6 mb-2 align-items-stretch">
			<CharacterCard />
		</div>
		<div class="col-sm-6 mb-2 align-items-stretch">
			<CharacterCard />
		</div>
		<div class="col-sm-6 mb-2 align-items-stretch">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">+ New character</h5>
				</div>
			</div>
		</div>
	</div>
</div>