<div class="container-fluid p-5 text-center">
	<div>
		<h2>Fungeons and Dragons</h2>
		<p>Tools for DMs and players alike</p>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-6 d-flex align-items-stretch">
			<div class="card">
				<div class="card-header">
					<LinkTo @route="dungeon-master">Dungeon Master</LinkTo>
				</div>
				<div class="card-body">
					<p>Manage your players, create your world, and homebrew to your hearts content</p>
				</div>
			</div>
		</div>
		<div class="col-sm-6 d-flex align-items-stretch">
			<div class="card">
				<div class="card-header">
					<LinkTo @route="player">Player</LinkTo>
				</div>
				<div class="card-body">
					<p>Create your character, join a campaign, and manage your inventory</p>
				</div>
			</div>
		</div>
	</div>
</div>