<div class="container-fluid p-5 text-center">
	<div>
		<h2>Welcome Traveler!</h2>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-6 d-flex align-items-stretch">
			<div class="card">
				<div class="card-header">
					<LinkTo @route="characters">Manage characters</LinkTo>
				</div>
				<div class="card-body">
					<p>Whether you're brand new to the game or you failed a perception check on the suspicious chest in the
						corner, this is the place to start.</p>
				</div>
			</div>
		</div>
		<div class="col-sm-6 d-flex align-items-stretch">
			<div class="card">
				<div class="card-header">Create an item</div>
				<div class="card-body">
					<p>Found a cool sword? Want to be sure your magic robes are described in excrutiating detail? This is the place for you!</p>
				</div>
			</div>
		</div>
	</div>
</div>